@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff ;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 10;
   background: #fafafa98;
   box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
   border-radius: 6px;
}
.tex{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    margin: 30px;
    color: #141c3a;
}
.header h1{
    color: #141c3a ;
}
.navlink {
 display: flex;
}
.navlink li {
    padding: 0 20px;
}
.navlink li a{
    font-size: 18px;
    font-weight: 600;
    color: #141c3a ;
    position: relative;
}
.navlink li a::after{
    content: "";
    width: 0%;
    height: 3px;
    position: absolute;
    background: #fff;
    bottom: -7px;
    left: 0;
    transition: 0.5s;
}
.navlink li a:hover::after{
    width: 100%;
    
}
.mixwd{
    width: 100%;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
   
}
.imgsec{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgsec h3{
    margin-top: 20px;
    font-size: 25px;
    
    color: #f4f5fad8;
    padding-bottom: 10px;
}
.imgsec p{
    width: 70%;
    line-height: 30px;
    font-size: 12px;
    color: #f4f5fad8;
}
.mixwd::after{
    content: "";
    background-image: url(img/bg1.jpg);
    width: 100%;
    height: 100%;
    background-position:  top ;
    
    background-size: cover;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -10;
}
.header .fas{
    display: none;
}
#about{
    margin: 40px;
    text-align: center;
    color: #141c3a;
    font-size: 25px;
}
.container{
   padding: 40px;   
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col_1{
    flex-basis: 45%;
}
.col_1 img{
    width: 100%;
    border-radius: 10px;
}
.col_2{
    flex-basis: 50%;
}
.col_2 img{
    width: 45%;
    border-radius: 10px;
}

.col_3{
    flex-basis: 45%;
}
.col_3 img{
    width: 100%;
    border-radius: 10px;}

.footer{
    background-color: #141c3a;
    color: #ffffff9f;
    padding-top: 40px;
}
.col-6{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.col-6 p{
    padding-bottom: 10px;
}
.col-6 h3{
    padding-bottom: 10px;
}
.col-6 a{
    padding-bottom: 10px;
    font-size: 30px;
    color: #ffffff;
}
.copyright{
    text-align: center;
    font-size: 12px;
}
.player{
    height: 40vh;
}
/* ----------------------------about--------------------------- */
.col_1 p{
    font-size: 14px;
    padding: 20px;
    line-height: 30px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
  
    
    
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
    border-radius: 10px;
}
.col-4:hover{
    transform: translateY(-10px);
}
#about h1{
    text-align: start;
    padding: 30px;
}
.col-4 h4{
    text-transform: capitalize;
    color: #141c3a;
    font-weight: 600;
    font-size: 20px;
   
}
.col-4 p{
    border: 1px solid white;
    background-color: aqua;
   width: 40px;
   height: 40px;
   color: #141c3a;
   font-size: 20px;
   align-items: center;
   justify-content: center;
   display: flex;
   border-radius: 50%;
   
    
}
.text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media only screen and (max-width:800px) {
    .navlink {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: -500px;
        width: 50%;
        height: 60vh;
        background-color:rgba(0, 0, 0, 0.9);
        transition: 0.5s;
       }
       .navlink li {
        padding:  20px 0;
    }
    .navlink li a{
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        position: relative;
    }
    #about{
        margin: 20px;
        
        font-size: 14px;
    }
    .container{
        padding: 20px;   
     }
     .col-4 h4{
        
        font-weight: normal;
        font-size: 14px;
       
    }
    .tex{
     font-size: 30px;
        
    }
    .col-4 p{
        
       width: 25px;
       height: 25px;
      
       font-size: 12px;
       
       
        
    }
   .header .fas{
    display: block;
    font-size: 25px;
    color: #141c3a;
   }
   .header ul .fas {
    position: absolute;
    color: #fff;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
.col_1{
    flex-basis: 100%;
}
.imgsec h3{
    font-size: 20px;
    
}
.col-4{
    flex-basis: 50%;
    
}
.imgsec p{
    font-size: 12px;
   
}
.col_2{
    flex-basis: 100%;
}
.col_2 img{
    width: 100%;
    border-radius: 10px;
}

.col_3{
    flex-basis: 100%;
}

.header h1{
    font-size: 25px;
}
.header{
    height: 50px;
}
}